body{
    background-color: #262b30;
    color: white;
}
table{
    position: absolute;
    top: 0.7%;
    left: 10%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 53%;
    height: 46.5rem;
    background-color: #30363d;
}
td{
    border: 2px solid #262b30;
}
.slider {
    width: 8px;
    height: 100%;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    -webkit-appearance: slider-vertical;
    right: 0%;
}
.slidecontainer1{
    position: absolute;
    margin-left: 93%;
    height: 65%;
}
.slidecontainer2{
    position: absolute;
    margin-left: 85%;
    height: 65%;
}
.start{
    position: absolute;
    margin-left: 86%;
    margin-top: 33em;
    width: 160px;
}
.generate{
    position: absolute;
    margin-left: 86%;
    margin-top: 36.5em;
    width: 160px;
}
.reset{
    position: absolute;
    margin-left: 86%;
    margin-top: 40em;
    width: 160px;
}

@media only screen and (max-width: 875px){
    table{
        position: absolute;
        top: 7%;
        left: 0.7%;
        width: 127%;
        height: 65%;
    }
    .slider {
        width: 180%;
        height: 8px;
        border-radius: 5px;  
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        -webkit-appearance: slider-horizontal;
        right: 0%;
    }
    .slidecontainer1{
        position: absolute;
        margin-top: 190%;
        margin-left: 5%;
        width: 65%;
    }
    .slidecontainer2{
        position: absolute;
        margin-top: 170%;
        margin-left: 5%;
        width: 65%;
    }
    .start{
        position: absolute;
        margin-left: 45%;
        margin-top: 47em;
        width: 160px;
    }
    .generate{
        position: absolute;
        margin-left: 45%;
        margin-top: 51em;
        width: 160px;
    }
    .reset{
        position: absolute;
        margin-left: 45%;
        margin-top: 55em;
        width: 160px;
    }
}